{% extends 'base.html' %}

{% block title %}
    Link detail
{% endblock %}

{% block page_header %}
    <h1>Link detail</h1>
    <hr class="small">
    <span class="subheading">{{ links.description|truncatechars_html:50 }}</span>
{% endblock %}

{% block content %}

    <div class="post-preview">
        <a href="{{ links.shortcut }}"><h2 class="section-heading">{{ links.shortcut }}</h2></a>

        <p class="post-meta">Posted by
            <a href="/#">{{ links.author }}</a>
            on {{ links.created_date }}
        </p>

        <p>{{ links.description }}</p>

        <blockquote>{{ links.original }}</blockquote>

        {% if links.tag %}
            <h3><span class="label label-success">{{ links.tag }}</span></h3>
        {% endif %}

    </div>

{% endblock content %}