{% extends 'base.html' %}

{% block content %}
    <h4>
        <small>Ссылка</small>
    </h4>
    <hr>

    <h2><a href="{{ links.original }}">{{ links.original }}</a></h2>
    <h3><span class="glyphicon glyphicon-scissors"></span> {{ links.shortcut }}</h3>

    <h5><span class="glyphicon glyphicon-time"></span> Post by {{ links.created_date }} - <a
        href="#">{{ links.author }}</a>
    </h5>

    {% if link.tag %}
        <h5><span class="label label-success">{{ link.tag }}</span></h5>
        <br>
    {% endif %}
    <p>{{ links.description }}</p>
    <br>
{% endblock content %}