{% extends 'base.html' %}
{% include 'comments.html' %}
{% load static %}

{% block title %}
    Shortener
{% endblock %}

{% block page_header %}
    <h1>Recent Links</h1>
    <hr class="small">
    <span class="subheading">Something clever</span>
{% endblock %}


{% block content %}
    {% for link in ordered_links %}
        <div class="post-preview">
            <a href="{% url 'links_detail' pk=link.pk %}">
                <h2 class="post-title">
                    {{ link.shortcut }}
                </h2>
                <h3 class="post-subtitle">
                    {{ link.description }}
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="/#">{{ link.author }}</a> on {{ link.created_date }}</p>
            {% if link.tag %}
                <h4><span class="label label-success">{{ link.tag }}</span></h4>
            {% endif %}
        </div>
        <hr>
    {% endfor %}

    {% include 'next_page.html' %}

{% endblock %}