{% extends 'base.html' %}
{% include 'comments.html' %}
{% load static %}

{% block content %}
    {% for link in links %}
        <h4>
            <small>Последняя ссылка</small>
        </h4>
        <hr>

        <h2><a href="{% url 'links_detail' pk=link.pk %}">{{ link.original }}</a></h2>
            </h5>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{ link.created_date}} - <a href="../#">{{ link.author }}</a> </h5>
        <h5>
{#            <span class="label label-danger">Food</span>#}
{#            <span class="label label-primary">Ipsum</span>#}
{#            <span class="label label-success">Lorem</span>#}
            <span class="label label-success">{{ link.tag }}</span>
        </h5>
        <br>
        <p>{{ link.description }}</p>
        <br>
    {% endfor %}

    {% include 'comments.html' %}
    <br><br>
{% endblock content %}

