{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block page_header %}
    <h1>Tags</h1>
    <hr class="small">
    <span class="subheading">Something clever</span>
{% endblock %}

{% block content %}
    <div class="large_label">
        {% for tag in ordered_tags %}
            <h3><a href="{% url 'tags_detail' pk=tag.pk %}"><span class="label label-success">{{ tag.name }}</span></a>
            </h3>
        {% endfor %}
    </div>
{% endblock content %}

