<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Shortener</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/create_link">Create</a></li>
                    {% else %}
                     <li><a href="/accounts/login">Create</a></li>
                {% endif %}
                <li><a href="/tags">Tags</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/profile">Profile</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a href="/accounts/login"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                {% else %}
                    <li><a href="/accounts/logout"><i class="glyphicon glyphicon-user"></i> Sign out</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>