<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/">Главная</a></li>

    {% if user.is_authenticated %}
        <li><a href="/create_link/"> Создать</a></li>
        <li><a href="#">Статистика</a></li>
    {% endif %}

    <li><a href="/tags/">Теги</a></li>
    <li class="nav-divider"></li>
    <li><a href="#"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
</ul>
{#<div class="input-group">#}
{#    <input type="text" class="form-control" placeholder="Найти ссылку...">#}
{#    <span class="input-group-btn">#}
{#                    <button class="btn btn-default" type="button">#}
{#                        <span class="glyphicon glyphicon-search"></span>#}
{#                    </button>#}
{#                </span>#}
{#</div>#}
{#<br>#}